Nodered_backup/1224.backup
[{"id":"86bc6c97.c91f9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"75d7859e.93411c","type":"api-call-service","z":"86bc6c97.c91f9","name":"Ablak Dekoráció OFF","server":"60295bb4.276b74","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.ablak_dekoracio\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":640,"y":440,"wires":[[]]},{"id":"b67a1300.33c61","type":"api-call-service","z":"86bc6c97.c91f9","name":"Ablak Dekoráció ON","server":"60295bb4.276b74","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.ablak_dekoracio\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":340,"y":740,"wires":[[]]},{"id":"ce772cda.04557","type":"api-call-service","z":"86bc6c97.c91f9","name":"Értesités mindenkinek","server":"60295bb4.276b74","service_domain":"notify","service":"notify","data":"{\"message\":\"Ajtózár 5 perce nyitva!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":720,"y":220,"wires":[[]]},{"id":"bde896db.80a338","type":"api-call-service","z":"86bc6c97.c91f9","name":"ON","server":"60295bb4.276b74","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.folyoso_vilagitas\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":80,"wires":[[]]},{"id":"cbbedba2.76a268","type":"api-call-service","z":"86bc6c97.c91f9","name":"OFF","server":"60295bb4.276b74","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.folyoso_vilagitas\"}","render_data":true,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":140,"wires":[[]]},{"id":"fa3c5bf6.551218","type":"switch","z":"86bc6c97.c91f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Nyitva","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":100,"wires":[["7e2914db.fccfcc"]]},{"id":"80f0ffec.bf12d","type":"mqtt in","z":"86bc6c97.c91f9","name":"","topic":"sensor/maindoor/motionsen","qos":"2","broker":"b82b743a.06cfc8","x":220,"y":100,"wires":[["fa3c5bf6.551218"]]},{"id":"7e2914db.fccfcc","type":"api-current-state","z":"86bc6c97.c91f9","name":"Folyosó Világtás ?","server":"60295bb4.276b74","halt_if":"","halt_if_type":"str","halt_if_compare":"includes","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"switch.folyoso_vilagitas","state_type":"str","outputs":1,"x":670,"y":100,"wires":[["7e90075.736eff8","bde896db.80a338"]]},{"id":"7e90075.736eff8","type":"delay","z":"86bc6c97.c91f9","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":140,"wires":[["cbbedba2.76a268"]]},{"id":"4bacbfdd.7fd03","type":"mqtt in","z":"86bc6c97.c91f9","name":"Ajtózár","topic":"sensor/maindoor/lock","qos":"2","broker":"b82b743a.06cfc8","x":130,"y":220,"wires":[["2336e5be.02561a"]]},{"id":"a25a05f7.ff4678","type":"mqtt in","z":"86bc6c97.c91f9","name":"Ajtó","topic":"sensor/maindoor/motion","qos":"2","broker":"b82b743a.06cfc8","x":130,"y":280,"wires":[["ef718036.6943a"]]},{"id":"2336e5be.02561a","type":"trigger","z":"86bc6c97.c91f9","op1":"","op2":"","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"min","reset":"Zárva","bytopic":"all","name":"5 perces trigger","x":420,"y":240,"wires":[["ce772cda.04557"]]},{"id":"ef718036.6943a","type":"trigger","z":"86bc6c97.c91f9","op1":"","op2":"","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"min","reset":"Zárva","bytopic":"all","name":"5 perces trigger","x":420,"y":300,"wires":[["ce772cda.04557"]]},{"id":"87dddacf.0834c8","type":"inject","z":"86bc6c97.c91f9","name":"6 órától","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":140,"y":680,"wires":[["cfd22b11.1be068","b67a1300.33c61"]]},{"id":"e635f532.aa3648","type":"inject","z":"86bc6c97.c91f9","name":"23 órától","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":290,"y":520,"wires":[["c5e75477.7fd778","e9110a3b.3dcad8","75d7859e.93411c"]]},{"id":"74659cef.3e3e04","type":"api-current-state","z":"86bc6c97.c91f9","name":"","server":"60295bb4.276b74","halt_if":"30","halt_if_type":"str","halt_if_compare":"lt","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.battery_iphone","state_type":"num","outputs":2,"x":490,"y":360,"wires":[[],["9fa8a372.d8118"]]},{"id":"8b2ae0af.466c7","type":"inject","z":"86bc6c97.c91f9","name":"30 perc timer","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["74659cef.3e3e04"]]},{"id":"9fa8a372.d8118","type":"api-call-service","z":"86bc6c97.c91f9","name":"","server":"60295bb4.276b74","service_domain":"notify","service":"ios_pals_iphone","data":"{\"message\":\"Alacsony akkumlátor szint!\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":820,"y":360,"wires":[[]]},{"id":"e9110a3b.3dcad8","type":"api-call-service","z":"86bc6c97.c91f9","name":"Háló Hangulatfény OFF","server":"60295bb4.276b74","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.fuggony_vilagitas\",\"transition\":\"3\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":520,"wires":[[]]},{"id":"c5e75477.7fd778","type":"api-call-service","z":"86bc6c97.c91f9","name":"Karácsonyfa OFF","server":"60295bb4.276b74","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"light.karacsonyfa\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":630,"y":560,"wires":[[]]},{"id":"10f3624e.18429e","type":"api-call-service","z":"86bc6c97.c91f9","name":"Konyha OFF","server":"60295bb4.276b74","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.konyha_vilagitas\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":610,"y":600,"wires":[[]]},{"id":"cbf8feae.458f1","type":"api-call-service","z":"86bc6c97.c91f9","name":"Szoba OFF","server":"60295bb4.276b74","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.szoba_vilagitas\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":610,"y":480,"wires":[[]]},{"id":"5582ec84.b5e634","type":"api-call-service","z":"86bc6c97.c91f9","name":"Karácsonyfa ON","server":"60295bb4.276b74","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.karacsonyfa\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":620,"y":640,"wires":[[]]},{"id":"d73e525.d09f6b","type":"trigger-state","z":"86bc6c97.c91f9","name":"Trigger ha nincs otthon senki","server":"60295bb4.276b74","entityid":"input_boolean.me_present","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"hckml0kc69c","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":260,"y":600,"wires":[["cbf8feae.458f1","e9110a3b.3dcad8","c5e75477.7fd778","10f3624e.18429e"],["5582ec84.b5e634","e1c6e6e0.f1a948"]]},{"id":"e1c6e6e0.f1a948","type":"api-call-service","z":"86bc6c97.c91f9","name":"Háló Hangulatfény ON","server":"60295bb4.276b74","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"light.fuggony_vilagitas\",\"brightness\":\"40\",\"transition\":\"5\",\"color_name\":\"blue\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":640,"y":680,"wires":[[]]},{"id":"cfd22b11.1be068","type":"api-current-state","z":"86bc6c97.c91f9","name":"Van otthon valaki?","server":"60295bb4.276b74","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.me_present","state_type":"str","outputs":2,"x":330,"y":680,"wires":[["5582ec84.b5e634","e1c6e6e0.f1a948"],[]]},{"id":"60295bb4.276b74","type":"server","z":"","name":"Home Assistant"},{"id":"b82b743a.06cfc8","type":"mqtt-broker","z":"","name":"Hass","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]